@use "mediaQ" as *;
@use "color" as *;
// Boton toogle
.menu-toggle {
  position: absolute;
  display: none;
  @include cel {
    display: block;
    z-index: 99000;
  }
  right: 0vh;
  top: 4.6vh;
  z-index: 520;
  width: 30px;
  height: 22px;
  background: transparent;
  border-top: 4px solid;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 4px solid;
  color:$acento;
  font-size: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.menu-toggle:before,
.menu-toggle:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

button.is-active {
  border-color: transparent;
  border-left: none;
}
button.is-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
button.is-active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
}

// menu de navegación
.visibleMenu {
  visibility: visible!important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 900;
  position: relative;
  .logo {
    width: clamp(9rem, 15vw, 12rem);
    padding: 1em;
  }
  // ultimo ul aplicar esta regla
  ul + ul {
    padding: 0 1em;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      padding: 0 1rem;
      position: relative;
    }
  }

  .sport:hover + ul {
    visibility: visible;
  }

  #submenu {
    visibility: hidden;
    position: absolute;
    width: 100%;
    right: 0;
    bottom: -3rem;
    background: $acento;
    padding: 1rem;
    border-radius: $radius;
    display: flex;
    flex-wrap: wrap;
    a {
      color: #fff;
    }
  }

  @include cel {
    flex-wrap: wrap;
    align-items: flex-start;
    height: auto;
    .logo {
      align-self: flex-start;
    }
    ul:nth-child(3n) {
      li {
        padding: 1.5em 0;
      }
    }

    ul:nth-child(2n) {
      display: flex;
      justify-content: center;
    }

    ul {
      flex: 1 0 100%;
      visibility: hidden;
      display: none;
      padding: 2em;
    }
  }
}


#hero{
  display: flex;
  flex-wrap: wrap;
  background: url("assets/monatana-fiesch-volken.png") no-repeat;
  background-size:auto;
  background-position: right bottom;
  height: 70vh;
  border: solid;
  @include hd{
    background-position: right bottom;
  }
  .izq{
    flex: 1;
    display: inherit;
    justify-content: center;
    align-items: center;
    .bandeja{
      width: 70%;
    }
  }
  .der{
    flex: 1;
    display:grid;
    grid-template-columns: repeat(3, auto auto);
    align-items: center;
    justify-content: center;
    img{
      width: auto;
    }
    img:nth-child(2){
      padding-top: 8rem;
    }
    img:nth-child(3){
      padding-top: 3rem;
    }
  }
}